[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
ipykernel = "*"
sweetviz = "*"
setuptools = "*"
seaborn = "*"
scikit-learn = "*"
ipywidgets = "*"
spicy = "*"
pingouin = "*"
gradio = "*"
uvicorn = "*"
gunicorn = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12"
